# Core computation
pandas
numpy
scikit-learn

# Visualization
matplotlib
plotly

# PDF and text generation
fpdf2
PyPDF2
python-docx

# Web + templating
streamlit
jinja2

# Utility
tqdm
Pillow
